# API URL
NEXT_PUBLIC_API_URL="http://localhost:3001"

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_..."

# Socket.io
NEXT_PUBLIC_SOCKET_URL="http://localhost:3001"

# Upload
NEXT_PUBLIC_UPLOAD_URL="http://localhost:3001/uploads"

# Application
NEXT_PUBLIC_APP_NAME="Tacohouse"
NEXT_PUBLIC_APP_URL="http://localhost:3000"